body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "宋体" ,"微软雅黑","仿宋", "仿宋_GB2312",sans-serif;
	font-size: 14px;
	background-color: #cccccc;
}

/* 纸张 */
.paper {
	background-color: #ffffff;
	box-shadow: #000 0px 0px 10px;
	margin: 4px auto;	
	width: 175mm;
	padding: 10mm;
}

.paper>.title {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: red;
	margin: 0;
}

.paper>.rows {
	
}

.paper>.rows>.row {
	table-layout: fixed;
	border-spacing: 0;
	padding: 0;
	margin: 0;
	border-width: 1px 2px 1px 2px;
	border-style: solid;
	border-color: black red;
	box-sizing: border-box;
	width: 100%;
}
.paper>.rows>.row:first-child {
	border-top-color: red;
	border-top-width: 2px;
}
.paper>.rows>.row:last-child {
	border-bottom-color: red;
	border-bottom-width: 2px;
}
.paper>.rows>.row .groupName{
	width: 8em;
	text-align: center;
	vertical-align: middle;
	border-right: 1px solid #000;
	padding: 1px;
}

.paper>.rows>.row .label{
	text-align: center;
	vertical-align: middle;
	padding: 2px;
}

.paper>.rows>.row .first{
	border-bottom: 1px solid #000;
}

.paper>.rows>.row .middle{
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	padding:0 0 0 2px;
}

.paper>.rows>.row .last{
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
}

.paper>.rows>.row .value{
	font-family: "仿宋", "仿宋_GB2312","宋体","微软雅黑",sans-serif;
	font-weight: bold;
}

.signItems>.signItem:last-child {
	border-bottom-width: 0;
}

.signItem {
	border-bottom: 1px solid black;
	padding: 1px;
}

.signItem>.content,.signItem>.attach {
	text-align: left;
	padding: 0;
	margin: 0;
	word-break: break-all;
	word-wrap: break-word;
	font-family: inherit;
	width: 100%;
}

.signItem>.assignee {
	text-align: right;
	margin-bottom: 0;
}

.signItem>.assignee>.name,.signItem>.assignee>.date {
	display: inline-block;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #000;
	text-align: center;
	margin-right: 1em;
	font-family: "仿宋_GB2312", "宋体","微软雅黑","仿宋", sans-serif;
	font-weight: bold;
}

.signItem>.assignee>.name {
	min-width: 5em;
}

.signItem>.assignee>.date {
	min-width: 9em;
}

.signItem .top-first,.top-middle,.top-last,.bottom-first,.bottom-middle,.bottom-last{
	text-align: center;
	border-color:#000;
	border-style:solid;
}

.signItem .top-first {
	border-width:1px 1px 1px 1px;
}

.signItem .top-middle {
	border-width:1px 1px 1px 0;
}

.signItem .top-last {
	border-width:1px 1px 1px 0;
}

.signItem .bottom-first {
	border-width:0 1px 1px 1px;
}

.signItem .bottom-middle {
	border-width:0 1px 1px 0;
}

.signItem .bottom-last {
	border-width:0 1px 1px 0;
}

